:root {
  --primary-highlight-color: rgba(20, 170, 228, 1);
  --secondary-highlight-color: rgba(20, 138, 228, 0.54);
  --shadow-color: #3f3f3f2a;
  color: #67758d;
}
.app1 {
  background-color: white;
}

.container-user {
  width: 50%;
  margin-top: 7%;
  margin-bottom: 7%;
  margin-left: 25%;
  margin-right: 25%;
  background-color: rgba(20, 170, 228, 0.8);
  border: 2px solid #eaf0f7;
  box-shadow: 8px 8px 8px var(--shadow-color);
  border-radius: 6px;
  opacity: 1;
}
.name-user {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding-top: 7%;
  padding-bottom: 2%;
  color: white;
}
.container-bild {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-top: 10%;
  margin-bottom: 15%;

  background-color: white;
  padding-top: 5%;
  padding-bottom: 5%;

  box-shadow: 0px 5px 5px var(--shadow-color);
}

.name-user span {
  font-style: italic;
  font-weight: bold;
  font-size: large;
}

.container-user #img {
  max-width: 100px;
  width: 30vw;
}
.form-user {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1%;
  border-radius: 5%, 5%;
  margin-left: 5%;
  margin-right: 5%;
}
.form-user label {
  color: white;
  display: block;
}
.form-user input[type="text"] {
  width: 100%;
  padding: 5px 20px;
  box-sizing: border-box;
  border-radius: 6px;
  margin-top: 3px;
  margin-bottom: 3px;
  caret-color: black;
}
.form-user input[type="password"] {
  width: 100%;
  padding: 5px 20px;
  box-sizing: border-box;
  border-radius: 6px;
  margin-top: 3px;
  margin-bottom: 3px;
  caret-color: black;
}
.container-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 50px;
}
.form-user input[type="submit"] {
  width: 70%;
  background-color: white;
  color: rgb(109, 109, 109);
  padding: 10px 5%;
  margin: 0 auto;
  border: none;
  border-radius: 10%;
  cursor: pointer;
  border: 2px solid(--primary-highlight-color);
  box-shadow: 5px 5px 5px var(--shadow-color);
  border-radius: 20px;
}
.form-user input[type="submit"]:hover {
  background-color: lightgreen;
}
.isPraxis {
  margin-top: 13%;
  margin-bottom: 7%;
}
.isPraxis span {
  font-style: italic;
  font-weight: bold;
  font-size: x-large;
}
.isPraxis p {
  color: white;
  margin-bottom: 20%;
}

.container-bottom {
  padding: 1%;
  padding-bottom: 3%;
  padding-left: 13%;
  padding-right: 13%;
  display: flex;
  justify-content: space-between;

  margin-top: 12%;
  margin-bottom: 3%;
}

.container-bottom a {
  color: black;
  opacity: 0.5;
}
