.login-main {
  background-color: rgba(20, 170, 228, 0.4);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  width: 100vw;
}

.login-img {
  background-color: burlywood;
  background: url("../img/room.jpg") no-repeat center center fixed;
  background-size: cover;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}

.login-form {
  align-self: center;
}

.login-header {
  color: white;
  padding-top: 10vh;
  align-self: center;
  font-size: xx-large;
}

.login-header span {
  font-style: italic;
  font-weight: bold;
  font-size: xx-large;
}

.login-footer {
  background-color: var(--primary-highlight-color);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

a {
  text-decoration: none;
  color: white;
}

label {
  font-size: large;
  font-weight: bold;
}
