:root {
  --primary-highlight-color: rgba(20, 170, 228, 1);
  --secondary-highlight-color: rgba(20, 138, 228, 0.54);
  --shadow-color: #3f3f3f2a;
  caret-color: transparent;
  color: #67758d;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

.header {
  padding: 3%;
  display: flex;
  justify-content: space-between;
}
.header a {
  color: black;
  opacity: 0.5;
}

.header span {
  font-style: italic;
  font-weight: bold;
  font-size: large;
}

.place-info {
  background-image: linear-gradient(
    to bottom right,
    var(--secondary-highlight-color),
    var(--primary-highlight-color)
  );
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 3vh 5vw 3vh 5vw;
}

#img {
  max-width: 100px;
  width: 30vw;
}

.circle {
  width: 40vw;
  height: 40vw;
  max-width: 200px;
  max-height: 200px;
  border-radius: 50%;
  background-color: white;
  border: 0.4em solid var(--primary-highlight-color);
  box-shadow: 5px 5px 5px var(--shadow-color);

  font-size: 3em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card {
  /* use flexbox https://css-tricks.com/snippets/css/a-guide-to-flexbox/*/
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;

  /* dimensions of card */
  width: 80vw;
  height: 59vh;
  margin: 5vh 10vw 5vh 10vw; /*top right bottom left*/

  /* contents in card (em = device font size) */
  text-align: center;
  font-size: 1.5em;

  background: #ffffff;
  border: 2px solid #eaf0f7;
  box-sizing: border-box;
  box-shadow: 5px 5px 5px var(--shadow-color);
  border-radius: 6px;
}

.card span {
  font-style: italic;
  font-size: 1.5em;
}
