body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
:root {
  --primary-highlight-color: rgba(20, 170, 228, 1);
  --secondary-highlight-color: rgba(20, 138, 228, 0.54);
  --shadow-color: #3f3f3f2a;
  caret-color: transparent;
  color: #67758d;
}
